@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --color-brand: #FAAF3A;
    --color-brand-dark: #E59A2A;
    --background-image-gradient-main: linear-gradient(90deg, #FF742E 0%, #FFAD2C 97.12%);
    --background-image-gradient-highlight: linear-gradient(90deg, #FF6C0A 0%, #FFF203 100%);
}

@layer base {
    body {
      font-family: 'Montserrat', sans-serif;
    }
}

:root {
  box-sizing: border-box;
}

